.ChatRoomContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Messages {
  width: 100%;
  margin-bottom: 180px;
  padding: 20px;
  box-sizing: border-box;
}

.MessageContainer {
  width: 100%;
  margin: 10px 0;
}

.MessageCard {
  width: 80%;
}

.SendForm {
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 90%;
}

.SendButton {
  margin: 8px auto;
}
